@using Application.DTOs
@using Domain.Entities.Role
@model EditUserDto;

@{
    Layout = "_AdminLayOut";

    List<Role> ?Roles = ViewData["Roles"] as List<Role>;
}




<head>
    <meta charset="UTF-8">
    <title>Beautiful Form Design</title>
    <style>

        .Img {
            height: 25%;
            width: 25%;
        }

        .Form {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }


        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 10px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        input[type="text"], input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>

<body>
    <div class="form-container">
        <h2>Edit User</h2>
        <form class="Form" method="post" asp-area="AdminPanel" asp-controller="Admin" asp-action="EditUser" enctype="multipart/form-data">


            <input readonly asp-for="Id" type="text">
            <input asp-for="UserName" type="text">
            <input asp-for="Password" type="text">

            @if (string.IsNullOrEmpty(Model.UserAvatar))
            {
                <img class="Img" id="image" src="~/Images/profilephoto.png">
            }
            else
            {
                <img class="Img" id="image" src="~/Images/@Model.UserAvatar">
            }

            <br></br>

            <input type="file" asp-for="UserAvatarFormFile"></>

            <br></br>

            @if(Roles != null)
            {
            @foreach (var item in Roles)
            {
                <label>@item.RoleUniqueName</label>
                <input type="checkbox" value="@item.Id" name="SelectedRoles" />
                <br></br>
            }
            }

            <button type="submit">Submit</button>

        </form>
    </div>


</body>


<script>

    const fileInput = document.getElementById('UserAvatarFormFile');

    const image = document.getElementById('image');

    fileInput.addEventListener('change', function() {

        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            image.src = e.target.result;
        }

        reader.readAsDataURL(file);
    });

</script>



